.pfp
{
    width: 100%;
}

body a 
{
    color: black;
    text-decoration: none;
}

body a:hover 
{
    text-decoration: underline;
}

body textarea
{
    resize: none;
}

body textarea:hover
{
    cursor: default;
}

.post-item
{
    background-color: white;
    border: white;
}

.menuDiv
{
    width: 8%;
}