.pfp
{
    width: 100%;
}

body textarea
{
    resize: none;
}

body textarea:hover
{
    cursor: default;
}

.post-item
{
    background-color: white;
    border: white;
}

.menuDiv
{
    width: 8%;
}