.fullname
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.name
{
    font-size: 50px;
}

.username
{
    color: gray;
    size: 20px;
}

.usermenu:hover
{
    cursor: pointer;
}