.fullname
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.name
{
    font-size: 30px;
}

.username
{
    color: gray;
    size: 20px;
}

.usermenu:hover
{
    cursor: pointer;
}


.bi:hover
{
    cursor: pointer;
}

.inline-links a 
{
    display: inline;
    margin-right: 10px;
    color: black;
    text-decoration: none;
}

.inline-links a:hover
{
    text-decoration: underline;
}

.visible
{
    display: block;
}

.hidden
{
    display: none;
}